/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
background-image: url("https://media.giphy.com/media/fC6BAcnLFF2o/giphy.gifhttps://media.giphy.com/media/fC6BAcnLFF2o/giphy.gif")}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

